<ion-view title="Home">
  <ion-content>
    <div>
      <div class="discovery">
        TELUSURI
      </div>
      <div class="mood-list">
        <div class="row unlimited-items">
          <div class="col">
            SENANG
          </div>
          <div class="col">
            SEDIH
          </div>
          <div class="col">
            SERU
          </div>
          <div class="col">
            SEMANGAT
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
