<ion-view title="DIORA">
  <ion-content>
    <div>
      <div class="discovery" ng-click="discover()">
        <a href="#">DISCOVER</a>
      </div>
      <br>
      <h4 class="subtitle">GENRE</h4>
      <div class="mood-list">
        <div class="row unlimited-items">
          <div style="background: url('img/alternative.jpg') no-repeat; background-size:cover;" class="col item-genre" ng-click="genre(0)">
            <div class="txt"> ALTERNATIVE </div>
          </div>
          <div style="background: url('img/blues.jpg') no-repeat; background-size:cover;" class="col item-genre" ng-click="genre(0)">
            <div class="txt"> BLUES </div>
          </div>
          <div style="background: url('img/classical.jpg') no-repeat; background-size:cover;" class="col item-genre" ng-click="genre(0)">
            <div class="txt"> CLASSICAL </div>
          </div>
          <div style="background: url('img/country.jpg') no-repeat; background-size:cover;" class="col item-genre" ng-click="genre(0)">
            <div class="txt"> COUNTRY </div>
          </div>
          <div style="background: url('img/electronica.jpg') no-repeat; background-size:cover;" class="col item-genre" ng-click="genre(0)">
            <div class="txt"> ELECTRONICA </div>
          </div>
          <div style="background: url('img/hip-hop.jpg') no-repeat;background-size:cover;" class="col item-genre" ng-click="genre(0)">
            <div class="txt"> HIP HOP </div>
          </div>
          <div style="background: url('img/indie.jpg') no-repeat;background-size:cover;" class="col item-genre" ng-click="genre(0)">
            <div class="txt"> INDIE </div>
          </div>
          <div style="background: url('img/jazz.jpg') no-repeat;background-size:cover;" class="col item-genre" ng-click="genre(0)">
            <div class="txt"> JAZZ </div>
          </div>
          <div style="background: url('img/latin.jpg') no-repeat;background-size:cover;" class="col item-genre" ng-click="genre(0)">
            <div class="txt"> LATIN </div>
          </div>
          <div style="background: url('img/metal.jpg') no-repeat;background-size:cover;" class="col item-genre" ng-click="genre(0)">
            <div class="txt"> METAL </div>
          </div>
          <div style="background: url('img/pop.jpg') no-repeat;background-size:cover;" class="col item-genre" ng-click="genre(0)">
            <div class="txt"> POP </div>
          </div>
          <div style="background: url('img/punk.jpg') no-repeat;background-size:cover;" class="col item-genre" ng-click="genre(0)">
            <div class="txt"> PUNK </div>
          </div>
          <div style="background: url('img/rap.jpg') no-repeat;background-size:cover;" class="col item-genre" ng-click="genre(0)">
            <div class="txt"> RAP </div>
          </div>
          <div style="background: url('img/rock.jpg') no-repeat;background-size:cover;" class="col item-genre" ng-click="genre(0)">
            <div class="txt"> ROCK </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
