<div class="full-overlay" ng-show="$root.loginShow">

<ion-content>

<div class="login-page">
    <div class="login-wrap">
        <div class="logo"></div>
        <div class="hint">login with :</div>
        <button class="button migme button-block button-balanced" type="submit" ng-click="MigmeLogin()"><i class="ion-person"></i> MIGME</button>
        <button class="button fb button-block button-positive" type="submit" ng-click="FBLogin()"><i class="ion-social-facebook"></i> FACEBOOK</button>
        <br><br><br><br><br>
        <a href ng-click="guest()"><div class="hint">or continue as <strong>guest</strong></div></a>
    </div>
</div>

</ion-content>

</div>