<ion-content>
    <!-- <div class="item item-avatar profile-preview">
        <img class="profile-picture" ng-src="{{profile.avatar}}">
        <h2>{{profile.name}}</h2>
        <p><a class="link" ng-click="logout()" href menu-close>Logout</a></p>
    </div> -->
    <div class="item item-avatar profile-preview">
        <img class="profile-picture" src="img/harits.jpg">
        <h2>Muhammad Harits</h2>
        <p><a class="link" ng-click="logout()" href menu-close>Logout</a></p>
    </div>
<ul class="list side-menu-options">
<h4>Music</h4>
<hr>
<a href="#/home" class="item" menu-close>Discover</a>
<a href="#/trending" class="item" menu-close>Trending</a>
<a href="#/playlist" class="item" menu-close></i>Favorite</a>

<h4>Social</h4>
<hr>
<a href="#/timeline" class="item" menu-close>Timeline</a>

<a href="#/friends" class="item" menu-close>Friends</a>

<a href="#/statistic" class="item" menu-close>Statistic</a>

</ul>

</ion-content>

<div class="bar bar-footer side-menu-footer">
  <p style="">Copyright &copy; Diora</p>
</div>