<ion-view title="PLAY">
  <ion-content class="play-content" >
    <div class="play-div">
      <td-cards>
        <td-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)" on-partial-swipe="cardPartialSwipe(amt)" class="card-{{card.index}}" ng-controller="CardCtrl">
          <div class="image">
            <knob knob-data="progressBar" knob-changed="changeProgress" knob-options="{thickness: .15}"></knob>
            <img ng-src="{{song.CoverArtFilename}}" alt="" class="album-cover">
            <div class="player-control" ng-click="control()">
              <div class="play" ng-show="!isPlaying">
                <i class="icon ion-ios7-play"></i>
              </div>
              <div class="pause" ng-show="isPlaying">
                <i class="icon ion-ios7-pause"></i>
              </div>
            </div>
          </div>
        </td-card>
      </td-cards>

      <!-- <audio id="player"></audio> -->

      <div class="bottom-action">
        <h2>{{song.SongName}}</h2>
        <h4>{{song.ArtistName}}</h4>
        <div class="lyric" ng-bind-html="lyric">
        </div>
        <div class="option">
          <div class="dislike-btn" ng-click="toggleDislike()">
            <i class="icon ion-ios7-close-empty" ng-show="likeStatus.hate == 0"></i>
            <i class="icon ion-close-circled" ng-show="likeStatus.hate != 0"></i>
          </div>
          <i class="icon ion-ios7-information-empty"></i>
          <div class="like-btn" ng-click="toggleLike()">
            <i class="icon ion-ios7-heart-outline" ng-show="likeStatus.love == 0"></i>
            <i class="icon ion-ios7-heart" ng-show="likeStatus.love != 0"></i>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
