<ion-view title="PLAY">
  <ion-content class="play-content">
  	<div class="play-div">
  		<img src="img/linkinpark.jpg" class="album-cover">
  		<h2>Castle of Glass</h2>
  		<h4>LINKIN PARK</h4>
  		<div class="lyric">
  			<p>Take me down to the river bend<br>
			Take me down to the fighting end<br>
			Wash the poison from off my skin<br>
			Show me how to be whole again
  			</p>
  			<p>Fly me up on a silver wing<br>
			Past the black where the sirens sing<br>
			Warm me up in a nova's glow<br>
			And drop me down to the dream below
  			</p>
  			<p>'Cause I'm only a crack in this castle of glass<br>
			Hardly anything there for you to see<br>
			For you to see</p>

			<p>Bring me home in a blinding dream,<br>
			Through the secrets that I have seen<br>
			Wash the sorrow from off my skin<br>
			And show me how to be whole again</p>

			<p>'Cause I'm only a crack in this castle of glass<br>
			Hardly anything there for you to see<br>
			For you to see</p>

			<p>'Cause I'm only a crack in this castle of glass<br>
			Hardly anything else I need to be</p>

			<p>'Cause I'm only a crack in this castle of glass<br>
			Hardly anything there for you to see<br>
			For you to see<br>
			For you to see</p>
  		</div>
  		<div class="option">
  			<i class="icon ion-ios7-close-empty"></i>
  			<i class="icon ion-ios7-information-empty"></i>
  			<i class="icon ion-ios7-heart-outline"></i>
  		</div>
  	</div>
  </ion-content>
</ion-view>
