<ion-view title="SEARCH">
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search">
      </label>
    </div>
    <div class="row unlimited-items music-item">
      <div class="col">
        <div style="background: url('img/linkinpark.jpg'); background-size: contain; background-repeat: no-repeat; background-position: center center; height: 75px; width: 75px; background-color: #fff; border-radius:25%; margin: 0px auto; padding-top:15px;">
        </div>
        <h3>Castle of Glass</h3>
        <h4>Linkin Park</h4>
      </div>
      <div class="col item-genre">
        <div style="background: url('img/linkinpark.jpg'); background-size: contain; background-repeat: no-repeat; background-position: center center; height: 75px; width: 75px; background-color: #fff; border-radius:25%; margin: 0px auto; padding-top:15px;">
        </div>
        <h3>Castle of Glass</h3>
        <h4>Linkin Park</h4>
      </div>
      <div class="col item-genre">
        <div style="background: url('img/linkinpark.jpg'); background-size: contain; background-repeat: no-repeat; background-position: center center; height: 75px; width: 75px; background-color: #fff; border-radius:25%; margin: 0px auto; padding-top:15px;">
        </div>
        <h3>Castle of Glass</h3>
        <h4>Linkin Park</h4>
      </div>
      <div class="col item-genre">
        <div style="background: url('img/linkinpark.jpg'); background-size: contain; background-repeat: no-repeat; background-position: center center; height: 75px; width: 75px; background-color: #fff; border-radius:25%; margin: 0px auto; padding-top:15px;">
        </div>
        <h3>Castle of Glass</h3>
        <h4>Linkin Park</h4>
      </div>
    </div>
  </ion-content>
</ion-view>
