<ion-view title="SEARCH">
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="search.query" ng-enter="search()">
      </label>
    </div>
    <div class="row unlimited-items music-item">
      <div class="col" ng-repeat="song in data">
        <div style="background: url('{{song.CoverArtFilename}}'); background-size: contain; background-repeat: no-repeat; background-position: center center; height: 100px; width: 100px; background-color: #fff; border-radius:10%; margin: 0px auto; padding-top:15px;" ng-click="go(song.SongID)">
        </div>
        <h3>{{song.SongName}}</h3>
        <h4>{{song.ArtistName}}</h4>
      </div>
    </div>
  </ion-content>
</ion-view>
