<ion-view title="TRENDING">
  <ion-content>
    <h4 class="subtitle">TOP 8 TODAY</h4>
    <div class="row unlimited-items music-item">
      <div class="col">
        <div style="background: url('img/linkinpark.jpg'); background-size: contain; background-repeat: no-repeat; background-position: center center; height: 120px; width: 120px; background-color: #fff; border-radius:10%; margin: 0px auto; padding-top:15px;">
        </div>
        <h3>Castle of Glass</h3>
        <h4>Linkin Park</h4>
      </div>
      <div class="col">
        <div style="background: url('img/linkinpark.jpg'); background-size: contain; background-repeat: no-repeat; background-position: center center; height: 120px; width: 120px; background-color: #fff; border-radius:10%; margin: 0px auto; padding-top:15px;">
        </div>
        <h3>Castle of Glass</h3>
        <h4>Linkin Park</h4>
      </div>
      <div class="col">
        <div style="background: url('img/linkinpark.jpg'); background-size: contain; background-repeat: no-repeat; background-position: center center; height: 120px; width: 120px; background-color: #fff; border-radius:10%; margin: 0px auto; padding-top:15px;">
        </div>
        <h3>Castle of Glass</h3>
        <h4>Linkin Park</h4>
      </div>
      <div class="col">
        <div style="background: url('img/linkinpark.jpg'); background-size: contain; background-repeat: no-repeat; background-position: center center; height: 120px; width: 120px; background-color: #fff; border-radius:10%; margin: 0px auto; padding-top:15px;">
        </div>
        <h3>Castle of Glass</h3>
        <h4>Linkin Park</h4>
      </div>
    </div>
    <h4 class="subtitle">TOP 8 THIS MONTH</h4>
  </ion-content>
</ion-view>
